
<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Storage</title>
  <link rel="icon" type="image/x-icon" href="/static/icons/logo.jpg">
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/static/css/header.css">
 </head>
 <body>
  <header>
    <div class="desktop-header">
      <img src="/static/icons/logo.jpg">  
      <nav>
        <a class="main-page" href="base-main">Главная</a> 
        <a class="new-product-page" href="new-product">Товары</a> 
        <a class="new-category-page" href="new-category">Категории</a> 
      </nav>
    </div>
    <div class="mobile-header">
      <img src="/static/icons/logo.jpg">  
      <svg width="43" height="43" viewBox="0 0 43 43" id="open-modal">
          <use href="/static/icons/sprite.svg#menu-logo"></use>
      </svg>
    </div>

    <div class="header-modal">
       <div class="exit-class">
          <svg width="27" height="27" viewBox="0 0 41 41" id="close-modal"> 
            <use href="/static/icons/sprite.svg#exit-logo"></use>
          </svg>
       </div> 
        <nav>
          <a href="base-main">Главная</a> 
          <a href="new-product">Товары</a> 
          <a href="new-category">Категории</a> 
        </nav>
    </div>
  </header>
