<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/static/css/login.css">

  <title>login</title>
 </head>
 <body>
   <main>
    <section id="section-login">
      <h1>Выполните вход:</h1> 
      <form id="login-form" method="post">
        <label for="admin-login">Логин:</label>
        <input type="text" name="admin_login" id="admin-login" placeholder="Adminus111"> 
        <label for="admin-password">Пароль:</label>
        <input type="password" name="admin-password" id="admin-password" placeholder="12345q">
        <button type="submit">Вход</button>
      </form>
    </section>    
  </main>
  <script src="/static/js/login.js"></script>
 </body>
</html>
