<link rel="stylesheet" href="/static/css/products.css">
<section id="add-product">
  <h1>Добавление товара</h1> 
  <span>Для добавления нового товара заполните форму или добавьте файл</span>
  <form id="add-product-form">
    <label for="article-number">Артикул:</label>
    <input type="text" name="article-number" id="article-number" placeholder="F-31324"> 
    <label for="title-product">Название:</label>
    <input type="text" name="title-product" id="title-product" placeholder="Какое-то название">
    <label for="category">Категория:</label>
    <select name="category" id="category">
       
    </select>
    <label for="quantity-product">Количество:</label>
    <input type="number" name="quantity-product" id="quantity-product" min="1">
    <label for="price-product">Цена за штуку:</label>
    <input type="number" name="price-product" id="price-product" min="1">
    <button type="submit">Добавить</button>
  </form>
</section>
<section id="products">
  <h1>Все продукты:</h1> 
  <div class="all-products">
    <div class="cards-products">

    </div> 
   
    <div class="pagination-btns">
      <svg width="24" height="24" viewBox="0 0 24 24" id="back-btn">
        <use href="/static/icons/sprite.svg#back-logo"></use>
      </svg>

      <svg width="24" height="24" viewBox="0 0 24 24" id="next-btn">
        <use href="/static/icons/sprite.svg#next-logo"></use>
      </svg>
    </div>

  </div>
</section>
<div class="modal-result">
  
</div>

<div class="modal-redact">
  <div class="exit-class">
    <svg width="30" height="30" viewBox="0 0 41 41" id="exit-btn"> 
      <use href="/static/icons/sprite.svg#exit-logo"></use>
    </svg>
  </div>
  <h1>Внесите изменения в форму</h1>
  <form>
    <label for="article-number">Артикул:</label>
    <input type="text" name="article-number" id="redact-article-number" placeholder="F-31324"> 
    <label for="title-product">Название:</label>
    <input type="text" name="title-product" id="redact-title-product" placeholder="Какое-то название">
    <label for="category">Категория:</label>
    <select name="category" id="redact-category">
       
    </select>
    <label for="quantity-product">Количество:</label>
    <input type="number" name="quantity-product" id="redact-quantity-product" min="1">
    <label for="price-product">Цена за штуку:</label>
    <input type="number" name="price-product" id="redact-price-product" min="1">
    <input type="hidden" value="" id="product-id">
    <button type="submit" id="redact-btn">Изменить</button>
  </form> 
</div>
 <script defer type="module" src="/static/js/products/main.js"></script>

